<% layout('layouts/adminBoilerplate') %>
<% contentTitle = "Edit Post" %>

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form action="<%= formAction %>" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Post title</label>
                <input class="form-control" type="text" id="title" name="title" value="<%= post.title %>" required>
                <div class="invalid-feedback">
                    Please provide a title
                </div>
            </div>
            <div class="mb-3">
                <label for="img" class="form-label">Image source</label>
                <input type="text" name="img" class="form-control" value="<%= post.img %>">
            </div>
            <div class="mb-3">
                <label for="num" class="form-label">Post Number</label>
                <input type="number" name="num" class="form-control" value="<%= post.num %>">
            </div>
            <div class="mb-3">
                <label for="post" class="form-label">Post content</label>
                <textarea class="form-control" name="post" rows="10" required><%= post.post %></textarea>
                <div class="invalid-feedback">
                    Please enter post content
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Update Post</button>
                <a href="/admin/posts" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>